@font-face {
    font-family: 'punk_typewriterregular';
    src: url('fonts/punk_typewriter-webfont.woff2') format('woff2'),
         url('fonts/punk_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oldstyle_1hplhs';
    src: url('fonts/oldsh___-webfont.woff2') format('woff2'),
         url('fonts/oldsh___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'enchanted_landregular';
    src: url('fonts/enchanted_land-webfont.woff2') format('woff2'),
         url('fonts/enchanted_land-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jmh_typewriterregular';
    src: url('fonts/jmh_typewriter-webfont.woff2') format('woff2'),
         url('fonts/jmh_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
    margin: 0%;
    padding: 0%;

    --bkg-firts: #60a3b8;
    --acc-prim: #EEC6CA;
    --bkg-sec: #8a9c6d;
    --acc-sec: #D6F8D6;


    background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.heading {
    background-image: url(https://images.unsplash.com/photo-1603484477859-abe6a73f9366?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    margin: 0%;
    height: 5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    gap: 2rem;
}

h1 {
    margin: 0%;
    font-family: 'punk_typewriterregular';
    font-size: 4rem;
    font-weight: 500;
}

p {
    margin: 0;
}

svg {
    height: 4rem;
    width: 4rem;
    position: relative;
    
}

dialog {
    border: 0ch;
    border-radius: 20px;
    height: 70%;
    aspect-ratio: 1/1.5;
    background-color: var(--bkg-firts);
    font-family: 'punk_typewriterregular';
    font-size: 2.5rem;

    button {
        font-family: 'punk_typewriterregular';
        font-size: 2.5rem;
    }
}

#modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;    
}

#closeBtn {
    border: 0px;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    align-self: flex-end;
    background-color: inherit;
    font-size: 1.10rem;

    > svg {
        height: 200%;
        width: 200%;
        position: relative;
        border-radius: 50%;
        top: -15px;
        left: -11px;
        fill: antiquewhite
    }
}

#closeBtn:hover {
    box-shadow: 1px 1px 10px rgb(160, 0, 0);
    background-color: rgb(160, 0, 0);
}

#bookForm {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: antiquewhite;
}

input {
    height: 1.75rem;
    font-size: 1.7rem;
    color: white;
    border: 0px;
    border-bottom: 1px solid gray;
    background-color: inherit;
    margin: .5rem 0rem;
    font-family: 'jmh_typewriterregular';
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: rgba(255, 54, 54, 0.685);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 80px;
  border: 1px solid currentColor;
  border-radius: 10px;
  transform: translateY(-0.075em);
  border: 0ch;

  display: grid;
  place-content: center;

}

input[type="checkbox"]:hover {
    box-shadow: 1px 1px 5px var(--acc-sec);
}

input[type="checkbox"]:checked {
    background-color: rgba(153, 250, 153, 0.747);
    border: 0ch;
}

input[type="checkbox"]::before {
    color: black;
    content: "No";
}

input[type="checkbox"]:checked::before {
    content: "Yes";

}

ul {
    list-style: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li {
        display: flex;
        flex-direction: column;
    }
}

form button {
    align-self: center;
    padding: .5rem;
    border-radius: 20px;
    background-color: rgb(158, 203, 255);
    border: 0ch;
}

form button:hover {
    box-shadow: 1px 1px 5px var(--acc-sec);
}

.checkbox {
    flex-direction: row;
    justify-content: space-between;
}

.add {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.add button {
    font-size: 2rem;
    height: 4rem;
    aspect-ratio: 1/1;
    padding: 0%;
    border-radius: 50%;
    border: 0px;
    background-color: inherit;
    fill: black;
}

.add button:hover {
    box-shadow: 1px 1px 5px var(--bkg-firts);
    background-color: var(--bkg-firts);
}


.container{

    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fit, 350px);
    grid-auto-rows: 300px;
    gap: 2rem;
    margin-inline: auto;
    margin-block: 3em;
    margin: 50px;
    padding: 30px;

}

.card {
    box-shadow: 5px 5px 5px;
    border-radius: 0% 5px 5px 0px;
    position: relative;
    background-color: rgb(9, 73, 14);
    font-family: 'enchanted_landregular';
    font-size: 3rem;
    padding: 1.25rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas: 
    "title title"
    "pages pages"
    "read delete";
    align-items: end;

    .author {
        color: rgb(78, 78, 78);
        font-family: 'oldstyle_1hplhs';
        font-size: 1.5rem;
        font-weight: 600;
    }

    .pages {
        color: lightgray;
        font-family:'oldstyle_1hplhs';
        font-size: 1.25rem;
        grid-area: pages;
        align-self: center;
        justify-self: end;
    }

}

.card:nth-child(3n){
    background-color: rgb(16, 35, 88);
}

.card:nth-child(3n-1){
    background-color: rgb(82, 15, 15);
}

.card div {
    border:5px double rgb(0, 0, 0);
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 5%;
    grid-area: title;
}

.readBtn {
    height: 2rem;
    justify-self: start;
    border-radius: 10px;
    border: none;
    font-family: 'jmh_typewriterregular';
}

.readBtn:hover{
    box-shadow: 1px 1px 5px lightgray;
}

.removeBook {
    justify-self: end;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: inherit;
    border: white;
}

.removeBook svg {
    height: 2rem;
    width: 2rem;
    position: relative;
    right: 30%;
    bottom: 1px;
    fill: white;
}

.removeBook:hover {
    box-shadow: inset 1px 1px 5px white;
}

@media screen and (max-width: 600px) {
    .heading svg {
      display: none;
    }
    h1 {
        font-size: 3.5rem;
    }
    .add {
        z-index: 1;
    }
  }